*{
    padding: 0;
    margin: 0;
}


.container{
    overflow: hidden;
}
.banner{
    background-color: #7444ce;
    height: 100vh;
    padding: 30px 50px;
    color: white;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    height: 40px;
}

nav button{
padding: 10px 30px;
color: white;
background-color:rgb(44, 93, 179);
border: none;

}
ul{ 
    display: flex;
    list-style-type: none;
    width: 400px;
    justify-content: space-between;

}

.top{
    display: flex;
    
    
}

.top-right{
    
    flex-basis: 50vw;
}


.top-left{

            
   
    flex-basis: 50vw;

   
}

.top-left h1{
position: relative;
font-size: 4em;
left: 100px;
top: 100px;
}


.top-left p{
    /* width: 450px; */
    position: relative;
top: 150px;
left: 100px;
}

.top-right img{
width: 100%;


}

/* main */

.main{
    display: flex;
    position: relative;
    padding: 100px;
    
}

.left img{
width: 500px;
position: relative;
left: 100px;
}
.right{
    position: absolute;
    right :150px;
    width: 400px;
}

.content{
    width: 300px;
    line-height: 2em;
    position: relative;
    top:70px;
    left:40px;
}

.orange{
    color: orangered;
}

.green{
    color: green;
}

.blue{
    color: rgb(30, 77, 177);
}

.color1{
    margin: 15px;
}

.color2{
    margin: 15px;
}

.color3{
    margin: 15px;
}

.h{
    text-align: center;
    width: 400px;
position: relative;
left: 35vw;
}

/* cards */
[alt="web"]{
    width:50px
}

[alt="security"]{
    width: 50px;
}
[alt="headphone"]{
    width:50px;
}

.cards{
    display: flex;
    justify-content: space-around;
    padding: 100px;
    position: relative;

}

.card1{
    width: 150px;
    text-align: center;
    box-shadow: 0 0 2px 2px hsl(0, 0%, 0%, 0.3);
    
}


.card2{
    width: 150px;
    text-align: center;
    box-shadow: 0 0 2px 2px hsl(0, 0%, 0%, 0.3);
}


.card3{
    width: 150px;
    text-align: center;
    box-shadow: 0 0 2px 2px hsl(0, 0%, 0%, 0.3);
}

.card4{
    width: 150px;
    text-align: center;
    box-shadow: 0 0 2px 2px hsl(0, 0%, 0%, 0.3);
}


.card1 img{
    position: relative;
    top:20px;
}
.bgc1{
    background-color: #7444ce;
    position: relative;
    top:64px;
    
}

.bgc{
    padding: 25px 5px;
}

.card2 img{
    position: relative;
    top:0px;
}
.bgc2{
    background-color: #7444ce;
    position: relative;
    top:64px;
    
}

.bgc{
    padding: 25px 5px;
}

.card3 img{
    position: relative;
    top:0px;
}
.bgc3{
    background-color: #7444ce;
    position: relative;
    top:64px;
    
}

.bgc{
    padding: 25px 5px;
}

.card4 img{
    position: relative;
    top:0px;
}
.bgc4{
    background-color: #7444ce;
    position: relative;
    top:64px;
    
}

.bgc{
    padding: 25px 5px;
}

@media  screen and (max-width:1450px) {


    .top-left h1{
        
        left: 0px;
        }
        
        
        .top-left p{
            
        left: 0px;
        }

}

@media screen and (max-width:1180px){


    .top{
        flex-direction: column;
        
    }

    .top-right img{
        width: 50%;
        position: absolute;
        bottom: 0;
        left: 25vw
        
        
        }

        .right{
            display: none;
        }
    
        .left img{
           
            display: none;
            }
    
    
    
}


@media screen and (max-width:800px) {


    .h{
        
    left: 20vw;
    }

    .cards{
        flex-direction: column;
    
    }
    .a{
        margin: 50px;
        position: relative;
        left: 20vw;
    }


    
}

@media screen and  ( max-width:770px ){
   ul{
    display:none;
   }
}


@media screen and  ( max-width:430px ){

    .a{
        left: -20px;
    }

    .h{
        
        left: 0vw;
        }
    
 }
