*{
    padding: 0;
    margin: 0;
}

.banner{
    background-color: #7444ce;
    height: 100vh;
    padding: 30px 50px;
    color: white;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    height: 40px;
}

nav button{
padding: 10px 30px;
color: white;
background-color:rgb(44, 93, 179);
border: none;

}
ul{ 
    display: flex;
    list-style-type: none;
    width: 400px;
    justify-content: space-between;

}

.top{
    display: flex;
    width: 400px;
    
}

.top-left h1{
position: relative;
font-size: 4em;
left: 100px;
top: 100px;
}


.top-left p{
    width: 450px;
    position: relative;
top: 150px;
left: 100px;
}

.top-right img{
width: 650px;
position: relative;
left: 300px;
}

/* main */

.main{
    display: flex;
    position: relative;
    padding: 100px;
    
}

.left img{
width: 500px;
position: relative;
left: 100px;
}
.right{
    position: absolute;
    right :150px;
    width: 400px;
}

.content{
    width: 300px;
    line-height: 2em;
    position: relative;
    top:70px;
    left:40px;
}

.orange{
    color: orangered;
}

.green{
    color: green;
}

.blue{
    color: rgb(30, 77, 177);
}

.color1{
    margin: 15px;
}

.color2{
    margin: 15px;
}

.color3{
    margin: 15px;
}

.h{
    text-align: center;
    width: 400px;
position: relative;
left: 35vw;
}

/* cards */
[alt="web"]{
    width:50px
}

[alt="security"]{
    width: 50px;
}
[alt="headphone"]{
    width:50px;
}

.cards{
    display: flex;
    justify-content: space-around;
    padding: 100px;
    position: relative;

}

.card1{
    width: 150px;
    text-align: center;
    box-shadow: 0 0 2px 2px hsl(0, 0%, 0%, 0.3);
    
}


.card2{
    width: 150px;
    text-align: center;
    box-shadow: 0 0 2px 2px hsl(0, 0%, 0%, 0.3);
}


.card3{
    width: 150px;
    text-align: center;
    box-shadow: 0 0 2px 2px hsl(0, 0%, 0%, 0.3);
}

.card4{
    width: 150px;
    text-align: center;
    box-shadow: 0 0 2px 2px hsl(0, 0%, 0%, 0.3);
}


.card1 img{
    position: relative;
    top:20px;
}
.bgc1{
    background-color: #7444ce;
    position: relative;
    top:64px;
    
}

.bgc{
    padding: 25px 5px;
}

.card2 img{
    position: relative;
    top:0px;
}
.bgc2{
    background-color: #7444ce;
    position: relative;
    top:64px;
    
}

.bgc{
    padding: 25px 5px;
}

.card3 img{
    position: relative;
    top:0px;
}
.bgc3{
    background-color: #7444ce;
    position: relative;
    top:64px;
    
}

.bgc{
    padding: 25px 5px;
}

.card4 img{
    position: relative;
    top:0px;
}
.bgc4{
    background-color: #7444ce;
    position: relative;
    top:64px;
    
}

.bgc{
    padding: 25px 5px;
}

@media screen and (max-width:1453px){

    .top-right img{
        width: 500px;
        position: relative;
        left: 200px;
        top:110px;
        }


        .top-left h1{
            
            font-size: 3.5em;
            
            top: 210px;
            }

            .top-left p{
                
                top: 230px;
                line-height: 2em;
               
            }
    
    
}

@media screen and (max-width:1200px) {
    .top{
       flex-direction: column;
       
        
    }

    .top-left h1{
            
        font-size: 3.5em;
        
        top:30px;
        left: 25vw;

        font-size: 3em;
        }

        .top-left p{
                
            top:30px;
            left: 25vw;
            line-height: 1em;
            
           
        }


        .top-right img{

            left: 25vw;
            top: 80px;
            width: 450px;
            height: 300px;
            
            }

           .right{
            display: none;
           }


           .left img{
            
            left: 20vw;
            }
    
}


@media screen and (max-width:800px) {

    .top-left h1{
            
        left: 170px;
    }

    .top-left p{
                
        
        left: 170px;
        
        
       
    }

    .top-right img{

        left: 100px;
        
        
    }

    .left img{
            
        left: 100px;
        width: 400px;
    }


    .h{
        left:25vw;
    }

    ul{
        width: 300px;
    }



    
}


@media  screen and (max-width:726px) {




    .top-left h1{
            
        left: 110px;
        font-size: 2.5em;
    }

    .top-left p{
                
        
        left: 110px;
        
        
       
    }

    .top-right img{

        left: 110px;
        
        
    }

    .left img{
            
        left: 100px;
        width: 400px;
    }


    .h{
        left:25vw;
    }

    ul{
        width: 300px;
    }

    nav button{
        display: none;
    }
    
}

@media screen and (max-width:650px) {

    .cards{
        flex-direction: column;
        align-items: center;
    }
    .card1{
        display: none;
    }

    .a{
        margin: 10px;

    }

    .top-left p{
        width: 300px;
       
    }

    .left img{
            
        left: 0px;
        
    }

    .top-right img{

        left: 50px;
        
        
    }
    
}

@media screen and (max-width:572px) {


    .banner{
        
        padding: 30px 20px;
        height: 100vh;
        
        
    }
    


    .top-left h1{
            
       left: 50px;
       font-size: 1.5em;
       width: 200px;
    }


    .top-left p{
                
        
        left: 50px;
        top:60px
        
        
       
    }

    .top-right img{

        left: 20px;
        width: 250px;
        
        
        
    }

    
    ul{
        
        width: 200px;
    }

    .left img{
            
        width: 250px;
        
    }


    .h{
        left:10vw;
        font: 1em;
        width: 200px;
    }


}

@media screen and (max-width:450px) {


    .top-left p{
                
        
    width: 200px;
        
        
       
    }
    ul{
        display: none;
    }


    .left img{
            
       display: none;
        
    }

    .cards{
padding: 0px;
position: relative;
left: -50px;
    }
}

